:markdown
  A [Security Specialist](/jobs/security-specialist) is a
  [Developer](/jobs/developer/) who focuses on ensuring
  that GitLab and associated applications are as secure as possible.
  The Security Specialist works in close collaboration with the
  [Security Lead](/jobs/security-lead/).
