---
layout: job_page
title: "Engineering Manager - Geo"
---

[GitLab Geo](https://docs.gitlab.com/ee/gitlab-geo/README.html) is an
enterprise product feature set that speeds up the work of globally distributed
teams, adds redundancy for GitLab instances, and provides Disaster Recovery as
well. As the Engineering Manager for the Geo team, you will take overall responsibility for
hiring, team management, agile project management, and the quality of the
feature set. This position will report to the Director of Backend.

See [Engineering Manager](/jobs/engineering-manager/) for more details.

## Responsibilities

As an Engineering Manager you are expected to
- Be a steward of product quality
   - Author project plans for epics
   - Run agile project management processes
   - Conduct code reviews, and make technical contributions to product
   architecture as well as getting involved in solving bugs and delivering small
   features
- Be a leader for the team
   - Draft quarterly OKRs and have regular 1:1’s with team
   - Actively seek and hire globally-distributed talent
   - Conduct managerial interviews for applicants, and train the team to screen applicants
   - Contribute to the sense of psychological safety on your team
   - Generate and implement process improvements

For the Geo team specifically, you will be involved in - and responsible for -
- Architecting Geo and Disaster Recovery products for GitLab
- Identifying ways to test and improve availability and performance of GitLab Geo at GitLab.com scale
- Instrument and monitor the health of distributed GitLab instances
- Educate all team members on best practices relating to high availability

## Requirements

- 5 years or more experience in a leadership role with current technical experience
- Experience architecting and implementing fault-tolerant, distributed systems
- In-depth experience with Ruby on Rails, Go, and/or Git
- Excellent written and verbal communication skills
- You share our [values](/handbook/values), and work in accordance with those values
- [A technical interview](/jobs/#technical-interview) is part of the hiring process for this position.

## Hiring process

The hiring process for this position includes

- A screening call with one of our Recruiters
- An interview with the interim Engineering Manager - Geo
- An interview with the Director of Backend
- An interview with a Senior Developer with deep knowledge of the Geo feature set
- An interview with the VP of Engineering


<%= partial "includes/apply_and_about" %>

